*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-flow: column;
  // overflow: hidden;
}

.sub__heading {
  h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width: 599px) {
  .sub__heading {
    h3 {
      margin: 10px auto 20px;
      font-size: 1.4rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .sub__heading {
    h3 {
      margin: 20px auto 30px;
      font-size: 1.6rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .sub__heading {
    h3 {
      margin-bottom: 40px;
      font-size: 1.8rem;
    }
  }
}
